# Git и CI
.git
.gitignore
.github/

# Виртуальные окружения
.venv/
env/
venv/

# Python артефакты
__pycache__/
*.pyc
*.pyo
*.pyd

# Базы данных (локальные)
*.sqlite3

# Логи
*.log

# Файлы окружения
.env

# IDE и редакторы
.idea/
.vscode/

# OS-specific
.DS_Store
