# Virtual environments
.venv/
env/
venv/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.sqlite3

# Logs
*.log

# Environment files
.env

# IDE configs
.idea/
.vscode/

# OS-specific
.DS_Store
